body
{
background-size: cover;
}

.heading
{
    font-size: 28px;
    width: 100%;
    margin: 0;
    font-family:sans-serif;
}

.note
{
    color: rgb(230, 181, 255);
    font-size: 19px;
    font-family: cursive;
}

#name
{
font-size: 21px;
margin: 15px;
}

.play_button,.stop_button
{
    width:130px;
    font-size: 25px;
}

canvas
{
    border-radius: 20px;
    border-width: 5px;
    border-style: dotted;
    border-color: rgb(83, 0, 104);
    margin-top: 170px;
}
